.wrap {
    background: linear-gradient(145deg, #0eb6ff, #ffffff, #ffffff, #0eb6ff, #ffffff, #ffffff);
    height: auto;
}

.inner-container {
    border: 1px solid lightblue;
    border-radius: 23px;
}

.right-container {
    background-image: url('../img/lapback.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 675px;
    border-bottom-right-radius: 23px;
}

.line::before {
    content: "";
    margin-bottom: 3px;
    width: 207px;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.line::after {
    content: "";
    margin-bottom: 3px;
    width: 207px;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.set {
    margin-left: 64px;
    width: 432px;
    margin-top: 224px;
}

.google-signin {
    background-color: #00b2ff;
}


.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -35px;
    width: 100%
}

.bx-wrapper .bx-viewport {
    background: transparent;
    border: none;
    box-shadow: 0 0 0 transparent
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: transparent;
    border: 2px solid white
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: white;
}